.node {
	user-select: none;
	display: flex;
	align-items: center;
	white-space: nowrap;
	align-items: stretch;
	
	.icon {
		align-self: center;
		transition: transform 0.2s ease;
		margin-right: 6px;
		color: #789;
		cursor: pointer;
	}
	
	&.expanded {
		.icon {
			transform: rotateZ(90deg);
		}
	}

	@keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

	&.loading {
		.icon {
			color: #123;
			animation-name: spin;
			animation-duration: 0.6s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
	
	.titleWrapper {
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 0 6px 0 4px;
		border-radius: 4px;
		

		&.draggedOver {
			background-color: cornsilk;
		}

		&:hover {
			background-color: rgb(211, 238, 238);
		}

		&.selected {
			background-color: rgb(122, 226, 226);
		}
	}
}

